/** General styles **/
* {
    box-sizing: border-box;
}
body {
    font-family: 'Cera Pro', Arial, Helvetica, sans-serif;
    line-height: 1.25;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
.pointer {
    cursor: pointer;
}
.green {
    color: #46A358;
}
.btn-icon {
    margin-right: 8px;
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
.flex-wrapper {
    display: flex;
    gap: 5px;
    align-items: center;
}
.flex-end {
    justify-content: flex-end;
}
.flex-start {
    justify-content: flex-start;
}

/** Fonts **/
@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

/** Registration page styles **/
.registration__container input[type="text"],
.registration__container input[type="email"],
.registration__container input[type="password"] {
    margin-top: 14px; 
    width: 100%;
    height: 40px; 
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    padding-left: 15px;
    outline: none; 
}
.registration__container input[type="submit"] {
    width: 100%;
    margin-top: 41px; 
    background-color: #46A358; 
    padding: 16px 0; 
    border: none; 
    color: #fff; 
    border-radius: 5px;
    font-size: 16px; 
    font-weight: 700;
}
.registration__main {
    background: #000; 
    height: 100vh; 
    display: flex; 
    align-items: center; 
    justify-content: center;
}
.registration__container {
    width: 500px; 
    background-color: #fff; 
    border-bottom: 10px solid #46A358;
}
.registration__close {
    display: flex; 
    flex-direction: row-reverse; 
    margin: 13px;
}
.registration__title {
    display: flex; 
    justify-content: center;
    margin: 21px 0; 
    color: #3D3D3D; 
    font-weight: 550;
    font-size: 18px; 
}
.registration__divider {
    margin: 0 15px; 
    font-weight: 100;
    font-size: 14px; 
    padding-top: 2px;
}
.registration__alternative {
    display: flex;
    width: 100%; 
    margin: 36px 0 28px 0; 
}
.registration__alternative__text {
    margin: 0 15px;
    color:#3D3D3D;
    font-size: 14px;
}
.registration__alternative__line {
    flex-grow: 1; 
    border: none; 
    height: 1px; 
    background-color: #EAEAEA;
}
.registration__form {
    width: 300px; 
    margin: 0 auto;
}
.registration__form__title {
    margin-top: 40px;
    color: #3D3D3D; 
    font-weight: 200; 
    font-size: 13px;
}
.registration__btn {
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 100%;
    border: 1px solid #EAEAEA;
    background-color: #fff;
    color:#727272;
    font-size: 14px;
    font-weight: 500; 
    padding: 13px 0; 
    border-radius: 5px;
    margin-bottom: 15px;
}
.registration__btn:last-child {
    margin-bottom: 50px; 
}
.registration__password {
    background: url('../img/hide.png') no-repeat 97% center;
}

/** Navigation & hero unit styles **/
.index__container {
    margin: 0 auto;
    max-width: 1200px;
}
.index__header__item, 
.index__logout__item,
.index__header__nav li,
.hero__item {
    display: inline-block;
    vertical-align: middle;
}
.index__header {
    padding-top: 30px;
    margin-bottom: 12px;
    border-bottom: 1px solid rgba(70, 163, 88, 0.5);
    font-size: 0;
}
.index__btn {
    background-color: #46A358;
    color: #fff;
    border-radius: 6px;
    padding: 10px 25px;
    display: inline-block;
}
.index__logout {
    width: 110px;
    font-size: 16px;
    font-weight: 500;
    padding: 8px;
}
.index__cta {
    margin-top: 35px;
    font-weight: 700;
    text-transform: uppercase;
}
.index__header__logo {
    width: 150px;
}
.index__header__nav {
    width: calc(100% - 260px);
    text-align: center;
    font-size: 16px;
}
.index__header__nav ul {
    margin: 0;
}
.index__header__nav li {
    margin: 0 25px;
    padding: 20px 0 20px 0;
}
.index__header__nav a {
    color: #3D3D3D;
}
.index__header__nav a:hover {
    color: #000;
}
.index__header__nav__active {
    border-bottom: 3px solid #46A358;
}
.index__header__nav__active a {
    font-weight: 600;
    color: #000;
}
.hero {
    background-color: #f5f5f5;
    font-size: 0;
    margin-bottom: 12px;
}
.hero__text {
    width: 55%;
    font-size: 16px;
    padding: 0 0 45px 45px;
}
.hero__text__welcome {
    margin: 0 0 7px 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.15;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3D3D3D;
}
.hero__text h1 {
    margin: 0;
    font-size: 70px;
    font-weight: 900;
    line-height: 1;
    text-transform: uppercase;
}
.hero__text__offer {
    color: #727272;
    font-size: 14px;
    line-height: 1.75;
}
.hero__image {
    width: 45%;
}

/** Offer grid styles **/
.offer {
    margin-bottom: 12px;
}
.offer h2 {
    display: none;
}
.offer__aside {
    float: left;
    width: 30%;
    background-color: #FBFBFB;
    padding: 14px 0 0 18px;
}
.offer__filter {
    padding-bottom: 100px;
}
.offer__filter__title {
    margin: 14px 0 10px 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 0.9;
}
.offer__filter__categories {
    margin: 0;
    font-size: 15px;
    line-height: 2.5;
}
.offer__results {
    float: right;
    width: calc(70% - 30px);
}
.offer__filter__categories a,
.offer__filter__title {
    color: #3D3D3D;
}
.offer__filter__categories .active a,
.offer__results__control .active a {
    font-weight: 700;
    color: #46A358;
}
.offer__filter__categories a:hover,
.offer__results__control a:hover {
    color: #46A358;
}
.offer__sale {
    width: 30%;
    float: left;
}
.offer__results__control {
    color: #3D3D3D;
    font-size: 15px;
    line-height: 1;
    margin-bottom: 30px;
}
.offer__results__control ul {
    margin: 0;
    padding: 0;
    float: left;
}
.offer__results__control ul li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 37px;
    padding-bottom: 7px;
}
.offer__results__control ul li.active {
    border-bottom: 2px solid #46A358;
}
.offer__results__control a {
    color: #3D3D3D;
}
.offer__results__sort {
    float: right;
}
.offer__results__sort > select {
    border: none;
    outline: none;
}
.offer__results__grid {
    text-align: center;
}
.offer__item {
    display: inline-block;
    padding-top: 30px;
    background: #FBFBFB;
}
.offer__item:nth-child(n+4) {
    margin-top: 70px;
}
.offer__item:nth-child(3n+1){
    float: left;
}
.offer__item:nth-child(3n+3){
    float: right;
}
.offer__item__text {
    font-size: 16px;
    line-height: 1;
    color: #3D3D3D; 
    background-color: #fff; 
    padding: 12px 0 0 2px;
    margin: 0;
    text-align: left;
}
.offer__item__price {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    color: #46A358;
}
.offer__item__price::before{
    content: '$';
}
.offer__paging {
    margin-top: 90px;
    float: right;
}
.offer__paging li {
    display: inline-block;
}
.offer__paging li a {
    display: inline-block;
    width: 35px;
    height: 35px;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 300;
    line-height: 1;
    text-align: center;
    line-height: 35px;
    color: #3D3D3D;
    margin-left: 10px;
}
.offer__paging li:first-child a {
    margin-left: 0;
}
.offer__paging li a img {
    vertical-align: middle;
}
.offer__paging li.active a,
.offer__paging li a:hover {
    color: #fff;
    font-weight: 700;
    background-color: #46A358;
}


/** Promo section styles **/
.promo {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 30px;
    justify-content: space-between;
    margin: 60px 0 140px 0;
}
.promo__item {
    display: flex;
    align-items: flex-start;
    background-color: #FBFBFB;
    padding-bottom: 40px;
    flex-basis: 40%;
    flex-grow: 1;
    flex-shrink: 0;
    min-width: 500px;
}
.promo__item__img {
    margin-top: -40px;
}
.promo__item__text {
    padding: 40px 30px 0 0;
    text-align: right;
}
.promo__item__text h2 {
    font-weight: 900;
    font-size: 18px;
    line-height: 1.4;
    color: #3D3D3D;
    text-transform: uppercase;
    margin: 0 0 10px 0;
}
.promo__item__text p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.9;
    color: #727272;
    margin: 0 0 25px 0;
}
.promo__item__more {
    display: inline-block;
    background-color: #46A358;
    color: #fff;
    padding: 10px 30px;
    border-radius: 6px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
}
.promo__item__more:hover {
    background-color: #52b967;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
}

/** Blog section styles **/
.blog {
    margin-bottom: 12px;
    text-align: center;
    font-size: 14px;
    line-height: 1.9;
    color: #727272;
}
.blog h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 1;
    margin: 0 0 15px 0;
    color: #3D3D3D;
    text-transform: capitalize;
}
.blog > p {
    margin-bottom: 35px;
}
.blog__posts {
    display: flex;
    justify-content: space-between;
    gap: 45px;
    flex-wrap: wrap;
    text-align: left;
}
.blog__post {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-basis: 20%;
    flex-grow: 1;
    min-width: 250px;
    max-width: 270px;
}
.blog__post__text {
    background-color: #FBFBFB;
    padding: 10px 15px;
}
.blog__post__info {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    color: #46A358;
    margin: 0 0 10px 0;
}
.blog__post__info time::after {
    content: '|';
    display: inline-block;
    padding: 0 5px;
}
.blog__post__text h3 {
    margin: 0 0 10px 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.3;
    text-transform: capitalize;
    color: #3D3D3D;
}
.blog__post__descr {
    margin: 0 0 10px 0;
    font-size: 14px;
    line-height: 1.65;
    color: #727272;
}
.blog__more {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    color: #3D3D3D;
    display: flex;
    align-items: center;
}
.blog__more .arrow-green {
    display: none;
}
.blog__more:hover {
    color: #46A358;
}
.blog__more:hover .arrow-black {
    display: none;
}
.blog__more:hover .arrow-green {
    display: inline-block;
}




